<h1>My Rentals</h1>

<% @rentals.each do |rental| %>

  <% if current_user == rental.user %>
    <h2><%= link_to rental.camera.model, rental_path(rental) %></h2>
    <p>Details: <%= rental.camera.details %></p>
    <p>From: <%= rental.start_date %></p>
    <p>Until: <%= rental.end_date %></p>
  <% end %>

<% end %>
