<h1>All available Cameras</h1>
 <h2><%= link_to "Add A Camera", new_camera_path %></h2>

  <% @cameras.each do |camera| %>
    <div class="card-product">
      <img src="#" />
      <div class="card-product-infos">
        <h2><%= link_to camera.model, camera_path(camera) %></h2>
        <p><%= camera.details %></p>
      </div>
    </div>
  <% end %>
