.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.Approve {
  background: linear-gradient(#63d55d, #2a9d30);
  border: 1px solid #23a432;
}

.Approve:hover {
  background: linear-gradient(#63d55d, #2a9d30);
  color: white;
}

.Decline {
  background: linear-gradient(#e61a2f, #b91a2a);
  border: 1px solid #c30723;
}

.Decline:hover {
  background: linear-gradient(#af1323, #840d19);
  color: white;
}

// Status

// .status{
//   width: fit-content;
//   padding: 10px;
//   block-size: fit-content
// }

.status-green {
  font-weight: bold;
  font-size: large;
  width: fit-content;
  padding: 10px;
  block-size: fit-content;
  color: #2a9d30;
}

.status-red {
  font-weight: bold;
  font-size: large;
  width: fit-content;
  padding: 10px;
  block-size: fit-content;
  color: #9e1a1a;
}

.status-orange {
  font-weight: bold;
  font-size: large;
  width: fit-content;
  padding: 10px;
  block-size: fit-content;
  color: #e77d27;
}

.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}

.btn .btn-flat {
    margin-bottom: 20px
}
