@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@500&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  margin-right: 3px;
}

.welcome-msg {
  padding: 0.25rem 1rem;
  text-align: inherit;
}
